.background, html, body {
    width: 100%; /* Imposta la larghezza al 100% della finestra */
    min-height: 100vh; /* Assicura che l'altezza del contenitore sia almeno quanto l'altezza dello schermo */
    display: flex; /* Utilizza il layout flexbox */
    flex-direction: column; /* Imposta i figli in una colonna */
    background: linear-gradient(-45deg, #082E2A, #0D1B2A, #1C1F26, #0A0F1F); /* Gradiente di sfondo animato */
    background-size: 400% 400%; /* Più grande rispetto alle dimensioni reali per simulare movimento */
    animation: gradientAnimation 10s ease infinite; /* Anima il gradiente di sfondo */
    color: #fff; /* Colore del testo bianco */
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%; /* Inizio movimento del gradiente */
    }
    50% {
        background-position: 100% 50%; /* Metà del movimento, posizione opposta */
    }
    100% {
        background-position: 0% 50%; /* Ritorno alla posizione iniziale */
    }
}