/* Container for centering content on the homepage */
.homepage-center-container {
    display: flex; /* Use Flexbox layout to arrange child elements */
    flex-direction: row; /* Arrange child elements in a horizontal row */
    justify-content: center; /* Center child elements horizontally */
    align-items: center; /* Center child elements vertically */
    height: 100vh; /* Set the container height to 100% of the viewport height */
}

/* Styling for logo links on the homepage */
.homepage-logo-link {
    margin: 20px 0; /* Add 20px margin above and below each link */
    text-decoration: none; /* Remove default underline from links */
}

/* Styling for the logo images */
.homepage-logo {
    max-width: 600px; /* Set a maximum width of 600px for the logo image */
    width: 100%; /* Set the logo width to 100% of its parent container */
    border-radius: 10px; /* Apply a 10px rounding to the image corners */
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Add animations for transformation and shadow */
}

/* Hover effect for logo images */
.homepage-logo:hover {
    transform: scale(1.05); /* Scale up the logo size by 5% on hover */
    box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.2); /* Add a white semi-transparent shadow around the logo */
}
