.button-container {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    gap: 10px;
}

.lol-button {
    padding: 12px 24px;
    background-color: #2e2e37; /* Colore di sfondo scuro e professionale */
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.3s ease, background 0.3s ease;
}

.lol-button:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Ombra più pronunciata */
}

.lol-button:active {
    transform: translateY(2px); /* Effetto "pressione" */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ombra più ridotta */
}